@import '../../node_modules/play-web-core/sass/main'
// @import '../../node_modules/play-web-core/sass/debug'

$cube-width: 400px
$cube-height: 400px


// Character Builder
.characterBuilder
  width: 100vw
  height: 100vh
  position: fixed
  background-color: transparent
  z-index: 2

.interfaceOptions
  background-color: #1f1f1f
  width: 100%
  bottom: 20px
  padding: 10px
  position: absolute
  display: flex
  justify-content: center

.characterPreview
  position: absolute
  height: 150px
  width: 90px
  transform: translate(-50%, -50%)
  left: 50%
  top: 50%
  background-color: gray

.characterHat
  width: 100px
  height: 90px
  position: absolute
  transform: translate(-50%, -50%)
  left: 50%
  top: 27%
  z-index: 1

.optionsContainer
  display: flex
  justify-content: space-around
  width: 370px

.option
  width: 50px
  height: 50px
  cursor: pointer
  border-radius: 50%

.character-select
  background-color: #b93e3e
  width: 170px
  bottom: 110px
  right: 50px
  padding: 10px
  position: absolute
  color: white
  font-size: 2em
  text-align: center
  cursor: pointer

// 
// SCENE CONTAINER
// 

#environment
  -webkit-perspective: 1000px
  perspective: 1000px
  position: fixed
  background-color: #1b1b1b
  height: 200vh
  width: 100%
  &.hide-environment
    height: 100vh
    background-color: tan
    z-index: 1
    &>:not(.character)
      display: none
    .character
      transform: translate(-50%, -50%)
      top: 50%
      left: 50%

.copy-container
  height: 200px
  width: 300px
  position: fixed
  top: 20vh
  left: 20vw
  background-color: rgba(255, 255, 255, 0.12)
  border: 2px solid rgba(255, 255, 255, 0.69)
  color: white
  font-size: 2em
  z-index: 1

.content
  color: white

.character
  position: absolute
  height: 150px
  width: 90px
  top: 250px
  transform-origin: bottom
  background-color: gray
  .characterHat
    top: -60%

.ground
  position: absolute
  top: 400px
  width: 100%
  height: 20px
  background-color: green
  &:after
    content: ''
    display: block
    position: relative
    width: 100%
    top: 19px
    height: 100px
    background-color: #56230f

.mountainContainer
  height: 410px
  width: 100%
  overflow: hidden

.mountainSvg
  height: 200px
  top: 200px
  width: 140vw
  position: absolute
  transform: scale(2)
  z-index: -1

.comet
  width: 90px
  height: 90px
  border-radius: 50%
  transform: translateX(60vw)
  background-color: rgb(243, 242, 240)

.alertIcon
  opacity: 0
  width: auto
  height: 70px
  position: absolute
  right: -27px
  top: -80px
  z-index: 2

.groundImpact
  position: absolute
  width: 170px
  left: 57vw
  top: -37px
  opacity: 0

.brokenGround
  position: absolute
  height: 20px
  left: 44vw

